<section class="section purchases-section">
  <div class="container">
    <h1 class="title is-4">所有團購</h1>

    <div class="columns is-multiline">
      <% 3.times.each do %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="http://via.placeholder.com/1600x900" alt="placeholder">
              </figure>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="http://via.placeholder.com/48x48" alt="placeholder">
                    </figure>
                  </div>
                  <div class="media-content">
                    <a>
                      <p class="title is-4">Alpaca Cafe</p>
                    </a>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>
                <div class="content">
                  極的時年有！檢給合題大轉香然到書分似就北居會精題不，參...
                </div>
                <div class="columns">
                  <div class="column is-3">
                    <div class="title is-4">$150</div>
                    <div class="subtitle is-6">最低價</div>
                  </div>
                  <div class="column is-3">
                    <div class="title is-4">140</div>
                    <div class="subtitle is-6">人團購</div>
                  </div>
                  <div class="column is-6">
                    <div class="title is-4">06/18 14:47</div>
                    <div class="subtitle is-6">限時截止</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
