<section class="section store-form-section">
  <div class="container">
    <h1 class="title is-4">新增店家</h1>
    <div class="box">
      <form>
        <div class="columns">
          <div class="column is-7">
            <div class="field">
              <label class="label">商標</label>
              <input id="store_logo" type="file">
            </div>
            <div class="field">
              <label class="label">圖片</label>
              <input id="store_picture" type="file">
            </div>
          </div>
          <div class="column is-5">
            <div class="field">
              <label class="label">名稱</label>
              <div class="control">
                <input class="input" type="text">
              </div>
            </div>
            <div class="field">
              <label class="label">地址</label>
              <div class="control">
                <input class="input" type="text">
              </div>
            </div>
            <div class="field">
              <label class="label">電話</label>
              <div class="control">
                <input class="input" type="text">
              </div>
            </div>
            <div class="field">
              <label class="label">簡短敘述</label>
              <div class="control">
                <textarea class="textarea"></textarea>
              </div>
            </div>
            <div class="field">
              <input type="submit" class="button is-primary is-medium is-fullwidth">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
