<section class="section store-image-section">
  <div class="container">
    <figure class="image">
      <img src="http://via.placeholder.com/1600x900" alt="placeholder" class="store-picture">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="http://via.placeholder.com/48x48" alt="placeholder">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Alpaca Cafe</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
            <div class="content has-description">
              行下多她了地月有、蘭因使灣分面……不有調員集求你反死黨木有器印正...
            </div>
            <div class="content">
              地址：台北市羊駝路 65 號<br>
              電話：0987-987-487
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-item">
              <a>edit</a>
            </div>
            <div class="card-footer-item">
              <a>delete</a>
            </div>
          </div>
        </div>
    </figure>
  </div>
</section>

<section class="section items-section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="columns is-multiline">
          <% 6.times do %>
            <div class="column is-4">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="http://via.placeholder.com/1600x900" alt="placeholder">
                  </figure>
                </div>
                <div class="card-content">
                  <div>還是紅茶拿鐵</div>
                  <div class="title is-4">$100</div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="column is-5">
        <div class="card">
          <div class="card-content">
            <h1 class="title is-5">新增菜單</h1>

            <form>
              <div class="field">
                <label class="label">名稱</label>
                <div class="control">
                  <input class="input" type="text">
                </div>
              </div>

              <div class="field">
                <label class="label">價格</label>
                <div class="control">
                  <input class="input" type="number"
                </div>
              </div>

              <div class="field">
                <label class="label">圖片</label>
                <div class="control">
                  <input class="input" type="file">
                </div>
              </div>

              <div class="field">
                <input type="submit" value="確定" class="button is-primary is-medium is-fullwidth">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
